.fields
  = f.hidden_field :operation_id
  = f.collection_radio_buttons :way, [['input', 'Input'] ,['output', 'Output']], :first, :last
  = f.input :inoutput_body, as: :text
  = link_to_remove_fields "Remove input/output", f, class: 'btn btn-small btn-danger'
