// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_document, .edit_document {
  textarea {
    width: 400px;
    height: 100px;
  }
}

#operations {
  margin-left: 40px;
}

.add-operation {
  margin: 20px 0
}